.footer {
    background-color: var(--dark_blue);
    color: var(--white);
    padding: 10px 0;
    text-align: center;
    font-family: var(--poppins);
}

.scroll-to-top-container {
    margin-bottom: 5px;
}

.scroll-to-top {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-family: var(--protest_riot);
    font-size: 36px;
    margin-bottom: 5px;
}

p{
    padding-bottom: 20px;
    font-weight: bold;
}
.social-links {
    margin-bottom: 10px;
   
    font-size: 30px;
}

.social-link {
    color: var(--light_blue);
    text-decoration: none;
    margin: 0 10px;
    font-family: var(--nunito);
}

.scroll-to-top:hover {
    color: var(--blue);
}

.fff{
    font-size: 15px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}